<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>

    <!-- Bootstrap -->
    <link href="{{ site.url }}/assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->  
    <!-- end Bootstrap -->

    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="{{ site.url }}/assets/css/syntax.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ site.url }}/assets/css/main.css">

  </head>
    <body>
      <div class="blog-masthead">
        <div class="container">
          <nav class="blog-nav">
            <a class="blog-nav-item active" href="/">Home</a>
            <a class="blog-nav-item" href="#">New features</a>
            <a class="blog-nav-item" href="#">Press</a>
            <a class="blog-nav-item" href="#">New hires</a>
            <a class="blog-nav-item" href="#">About</a>
          </nav>
        </div>
      </div>
      <div class="container">
        <div class="blog-header">
          <h1 class="blog-title">{{ site.name }}</h1>
          <p class="lead blog-description">The official example template of creating a blog with Bootstrap.</p>
        </div>
        <div class="row">
          <div class="col-sm-8 blog-main">
            {{ content }}
          </div><!-- /.blog-main -->    
          <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
            {% include sidebar.html %}
          </div><!-- /.blog-sidebar -->
        </div><!-- /.row -->
      </div><!-- /.container -->

      <div class="blog-footer">
        <p>Blog template built for <a href="http://getbootstrap.com">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
        <p>
          <a href="#">Back to top</a>
        </p>
      </div>
      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      <script src="https://code.jquery.com/jquery.js"></script>
      <!-- Include all compiled plugins (below), or include individual files as needed -->
      <script src="{{ site.url }}/assets/js/bootstrap.min.js"></script>
    </body>
</html>
